/* html, body { */
/*     overflow-x: hidden; */
/* } */

body {
    font-family: Arial, sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

.book {
    width: 35em;
    /* display: flex; */
    /* flex-direction: column; */
    margin: auto;
    padding: 0.5em;
}

.books > a {
    text-decoration: none;
}

.books > a:hover .library-book {
    text-decoration: underline;
    transition: .3s ease all;
    transform: translateY(-3px);
}

#nav {
    text-align: left;
    margin-bottom: 0.5em;
    font-size: 125%;
}

#nav a {
    text-decoration: none;
}

#nav img {
    width: 1em;
    height; 1em;
    position: relative;
    top: 0.15em;
}

.page {
  margin: 4vw;
  border: 1px solid #CCC;
  padding: 4em 4em 2em 4em;
  text-align: justify;

  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
a.prev-page {
    transform: scaley(-1);
    display: inline-block;
}

.page .options {
    margin: 1em;
}

.page .page-number {
    padding-top: 1em;
    text-align: center;
}

p {
    text-indent: 2em; /* Indent the first line of each paragraph */
    margin: 0; /* Remove vertical space between paragraphs */
    line-height: 1.4;
}

p.choice {
    text-indent: 0em;
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
}

p.or {
    text-indent: 0em;
    text-align: center;
    font-size: 125%;
}

/* p a { */
/*     text-decoration: underline; */
/*     cursor: pointer; */
/* } */

.library {
    margin: 4vw;
}

.library img.title-logo {
    width: 1.3em;
    vertical-align: middle;
}

.library #bookswiper {
    min-height: 100%;
    position: relative;
}

.library .books {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8vw; /* Adjust gap between items if needed */
    align-items: start;
    position: absolute;
    transition: transform 0.5s ease;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
}

.library .books.off-left {
    transform: translateX(-120vw);
}

.library .books.off-right {
    transform: translateX(120vw);
}

.library .library-book {
    width: 25vw;
}

.library .library-book .title {
    height: 4vw;
    text-align: center;
    font-size: 2vw;
    margin: 0px;
}

.library .library-book .cover {
    width: inherit;
    -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.37);
    box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.37);

}

.library .fake-book {
    width: 25vw;
    height: 29vw;
}

.library #swipe-right-button {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transform: translateX(50%);
}

.library #swipe-left-button {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.library .swipe-button img {
    width: 50px;
}

.navigation .page-jumper.current {
    background: #AAE;
}

body img#background {
    height: 100vmin;
    width: 100vmin;
    object-fit: cover;
    position: fixed;



    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) scale(0.87);


    /* margin-left: auto; */
    /* margin-right: auto; */
    opacity: 35%;
    z-index: -1;
}

@media (max-width: 600px) {
    .library .swipe-button img {
        display: none;
    }
    /* body img#background { */
    /*     display: none; */
    /* } */
}
